.cartItems {
   max-width: 1200px;
   min-height: 415px;
   margin: 2.5rem auto;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.cartList {
   width: 60%;
}

.cartInfo {
   width: 30%;
}

.cartList__product {
   display: flex;
   justify-content: space-between;
   margin-bottom: 2.5rem;
}

.cartProduct__img {
   width: 22.5%;
   height: 150px;
   margin-right: 1rem;
   background-color: #FFF;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

.cartList__product img {
   height: 100%;
}

.cartProduct__info {
   width: 80%;
}

.cartProduct__title {
   color: var(--darkBlue);
}

.cartProduct__subtitle {
   color: var(--darkGray);
   font-size: 18px;
}

.deleteProduct {
   color: var(--orange);
}

.ghostBtnBuy {
   padding: 1rem;
   width: 100%;
   border: 1px solid var(--blue);
   color: var(--blue);
   border-radius: 5px;
   font-size: 20px;
}

.ghostBtnBuy:hover {
   border: 1px solid var(--blue);
   background: var(--blue);
   color: #FFF;
}

/* Empty Cart */
.emptyCart {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.emptyCart img {
   width: 300px;
   margin-bottom: 2rem;
}

.emptyCart h1 {
   color: var(--blue);
}

.emptyCart h1 a {
   color: var(--orange);
   text-decoration: underline;
}

.emptyCart h1 a:hover {
   color: var(--darkOrange);
}