
.listContainer {
   display: flex;
   flex-wrap: wrap;
   margin-top: -1.5rem;
}

.itemCard {
   width: 32%;
   height: 280px;
   background: #FFF;
   display: flex;
   box-shadow: 0px 2px 25px 5px rgb(234, 234, 234);
   margin: 0 1rem 1.5rem 0;
   border-radius: 10px;
   overflow: hidden;
}

.wrap {
   flex-wrap: wrap;
}

.itemCard .imageCard {
   width: 45%;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

.imageCard img {
   height: 100%;
}

.bodyCard {
   padding: 1.3rem;
   height: 222.5px;
   overflow: hidden;
}

.bodyFooter {
   padding: 0 1.5rem;
}

.cardTitle {
   overflow: hidden;
   color: var(--blue);
   margin-bottom: .5rem;
   font-size: 20px;
}

.cardCategory {
   font-size: 17px;
   color: var(--darkGray);
   margin: -.2rem 0 .75rem;
}

.cardPrice {
   color: var(--lightBlue);
   margin-bottom: .75rem;
}

.cardDescription {
   color: var(--darkestGray);
   overflow: hidden;
   margin-bottom: 1.25rem;
   font-size: 14px;
}

.btnDetails {
   background-color: var(--orange);
   color: #FFF;
   padding: .6rem 1.5rem;
   border-radius: 1.5rem;
   margin-right: .6rem;
}

.btnDetails:hover {
   /* background: var(--blue); */
   background-color: var(--darkOrange);
}

.btnCart {
   background-color: var(--orange);
   color: #FFF;
   padding: .6rem;
   border-radius: 1.2rem;
}

.btnCart:hover {
   background-color: var(--darkOrange);
}

.detailContainer {
   display: flex;
   justify-content: space-between;
}

.imageDetail {
   width: 55%;
   height: 550px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #FFF;
   border-radius: 10px;
   overflow: hidden;
}

.imageDetail img {
   height: 100%;
}

.contentDetail {
   width: 40%;
}

.detailTitle {
   color: var(--blue);
   margin-bottom: .2rem;
   font-size: 32.5px;
}

.detailCategory {
   color: var(--darkGray);
   font-weight: 300;
   margin-bottom: .5rem;
   font-size: 25px;
}

.detailPrice {
   color: var(--lightBlue);
   margin-bottom: 1.25rem;
   font-size: 28px;
}

.descriptionTitle {
   color: #000;
   font-size: 25px;
}

.detailDescription {
   color: var(--darkestGray);
   margin-bottom: 2.5rem;
}

.addCart {
   width: 100%;
   background: var(--orange);
   border-radius: 10px;
   padding: 1rem;
   color: #FFF;
   font-size: 20px;
}

.loader {
   display: flex;
   margin: 0 auto;
   width: 40px;
}