.btnCounter {
   margin: 0 1rem;
   background-color: transparent;
   width: 50px;
   border: 1px solid #000;
   border-radius: 5px;
}

.btnCounter:hover {
   background: var(--mediumGray);
}

.btnBuy {
   padding: .75rem 1.25rem;
   background-color: var(--orange);
   color: #FFF;
   border-radius: 5px;
   margin-top: 1rem;
}

.btnBuy:hover {
   background-color: var(--darkOrange);
}