.flexCouner {
   display: flex;
   align-items: center;
}

.counter {
   margin: 0 1rem;
}

.btnCounter {
   background-color: transparent;
   width: 50px;
   border: 1px solid #000;
   border-radius: 5px;
   font-size: 16px;
}

.btnCounter:hover {
   background: var(--gray);
}

.btnBuy {
   padding: 1rem;
   width: 100%;
   display: block;
   text-align: center;
   background-color: var(--orange);
   color: #FFF;
   border-radius: 5px;
   font-size: 20px;
}

.btnBuy:hover {
   background-color: var(--darkOrange);
}

.btnBuy__blue {
   background-color: var(--blue);
}

.btnBuy__blue:hover {
   background-color: var(--mediumBlue);
}

.marginRight {
   margin-right: 1.5rem;
}