/* COLORS */
:root {
   --darkestBlue: #002D4E;
   --darkBlue: #005FAB;
   --mediumBlue: #007BCA;
   --blue: #0090DF;
   --lightBlue: #3DB6EC;
   --darkOrange: #F47321;
   --orange: #F18700;
   --darkestGray: #605F5F;
   --darkGray: #A4A196;
   --mediumGray: #E6E6E6;
   --gray: #F6F6F6;
   --lightGray: #F9FAFC;
}

/* RESETING STYLES */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

button {
   border: none;
   cursor: pointer;
   transition: .3s;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   transition: .3s;
}

input {
   border: 1px solid var(--darkGray);
}

body {
   background: rgb(249, 250, 252);
   background: linear-gradient(180deg, rgba(249, 250, 252, 1) 0%, rgba(255, 255, 255, 1) 100%);
   background-repeat: no-repeat;
   height: 100vh;
}

/* CONTAINERS STYLES */

.container {
   max-width: 1200px;
   margin: 2.5rem auto;
}

.flexContainer {
   display: flex;
}